@using BlogApp.Models
@using System.Globalization
@model Article

<main class="container">
    <div class="row g-5">
        <div class="col-md-8">
            <article class="blog-post">
                <h2 class="display-5 link-body-emphasis mb-1">@Model.Title</h2>
                <p class="blog-post-meta">@Model.Date.ToString("MMMM dd, yyyy hh:mm tt", new CultureInfo("en-US")) by <a href="#">@Model.ApplicationUser.Name</a></p>

                <p>@Model.Text</p>
            </article>
            @if (this.ViewBag.UserIsAuthor)
            {
                <div class="d-flex">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                    <form method="post" asp-action="Delete" asp-route-id="@Model.Id">
                        <input type="submit" class="btn btn-danger" value="Delete" />
                    </form>
                </div>
            }
        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div>
                    <h4 class="fst-italic">Recent posts</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                                <div class="col-lg-8">
                                    <h6 class="mb-0">Example blog post title</h6>
                                    <small class="text-body-secondary">January 15, 2024</small>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                                <div class="col-lg-8">
                                    <h6 class="mb-0">This is another blog post title</h6>
                                    <small class="text-body-secondary">January 14, 2024</small>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                                <div class="col-lg-8">
                                    <h6 class="mb-0">Longer blog post title: This one has multiple lines!</h6>
                                    <small class="text-body-secondary">January 13, 2024</small>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="~/js/article.js"></script>