@using BlogApp.Models.Models
@using System.Globalization
@using Markdig
@model Article

<main class="container">
    <input hidden id="articleId" value="@Model.Id" />
    <div class="row g-5">
        <div class="col-md-8">
            <article class="blog-post">
                <h2 class="display-5 link-body-emphasis mb-1">@Model.Title</h2>
                <p class="blog-post-meta">@Model.Date.ToString("MMMM dd, yyyy hh:mm tt", new CultureInfo("en-US")) by 
                    <a class="link-light" asp-area="Identity" asp-page="/Account/Manage/Index">@Model.ApplicationUser.Name</a></p>

                <div>@Html.Raw(Markdown.ToHtml(Model.Text))</div>
            </article>
            @if (ViewBag.UserIsAuthor)
            {
                <div class="d-flex">
                    <a asp-action="Upsert" asp-route-id="@Model.Id" class="btn btn-secondary my-1">Edit</a>
                    <button class="btn btn-secondary my-1 mx-2" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                </div>
            }
        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div>
                    <h4 class="fst-italic">Recent posts</h4>
                    <ul class="list-unstyled">
                        @for (int i = 0; i < 3; i++)
                        {
                            <li>
                                <a asp-action="Article" asp-route-articleId="0" class="link-light d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top">
                                    <div class="col-lg-8">
                                        <h6 class="mb-0"></h6>
                                        <small class="text-body-secondary"></small>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Post?</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this article?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form method="post" asp-controller="Home" asp-action="Delete" asp-route-id="@Model.Id">
                    <input type="submit" class="btn btn-danger" value="Delete Post" />
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/article.js"></script>